<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>Archetype Created Web Application</display-name>

 	<filter>
		<filter-name>FirstFilter</filter-name>
		<filter-class>Filter.FirstFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SecondFilter</filter-name>
		<filter-class>Filter.SecondFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecondFilter</filter-name>
		<url-pattern>/choice</url-pattern>
	</filter-mapping>
	

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>Test.TestServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserChoice</servlet-name>
		<servlet-class>Test.UserChoice</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>UserChoice</servlet-name>
		<url-pattern>/choice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Counter</servlet-name>
		<servlet-class>Test.Counter</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>Counter</servlet-name>
		<url-pattern>/counter</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SessionControl</servlet-name>
		<servlet-class>Test.SessionControl</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>SessionControl</servlet-name>
		<url-pattern>/sessionControl</url-pattern>
	</servlet-mapping>
	
	<!-- Spring MVC  -->
	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/Config.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>