<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="guy" class="QLY.TestMaven.Guy">
		<property name="weapon" ref="minigun" />
	</bean>
	<bean id="pistol" class="QLY.TestMaven.Pistol" />
	<bean id="minigun" class="QLY.TestMaven.MiniGun" />

</beans>